@import './styles/reset.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  cursor: pointer;
}
a:visited {
  color: skyblue;
}
a:hover {
  text-decoration: none;
}

nav {
  position: sticky;
  top: 10px;
}

.main-container {
  margin-top: 4rem;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 40%;
  height: 80px;
}
.logo > a {
  margin:  auto 2rem;
}
.pseudo {
  background-color: white;
  position: relative;
  width: 0%;
  height: 2px;
}
@keyframes top-border-nav {
  from {
    width: 0%;
  } to {
    width: 100%;
  }
}
@keyframes bottom-border-nav {
  from {
    width: 100%;
  } to {
    width: 0%;
  }
}
a:hover > .pseudo-top {
  background-color: white;
  width: 100%;
  animation-name: top-border-nav;
  animation-duration: 0.5s;
}
.pseudo-bottom {
  position: relative;
  top: 0px;
  right: 0px;
}

.pseudo-bottom{
  background-color: white;
  width: 100%;
}

.pseudo-bottom::before {
  content: "";
  display: inline-block;
  z-index: 23;
  position: relative;
  width: 100%;
  top: -19px;
  left: 0px;
  background-color: navy;
  height: 5px;
}
a:hover > .pseudo-bottom::before {
  width: 0%;
  animation-name: bottom-border-nav;
  animation-duration: 0.5s;
}

.para-container {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-paragraph{
  font-size: 1.4rem;
  width: 60%;
  margin: 1rem;
}
.page-container > * {
  flex-basis: 100%;
}

#self-picture-div {
  display: flex;
  justify-content: center;
}

.main-heading {
  text-align: center;
  font-size: 3rem;
}


.nav-link:hover {
  background-color: white;
  color: skyblue;
}

.MuiListItemText-primary{
  font-size: 1.3rem !important;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
