@import './styles/reset.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  border: 1px solid white;
  height: 200vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
p,
h1,
h2,
li,
a {
  color: white;
}

nav {
  position: sticky;
  top: 10px;
}
.Button > a:hover {
  background-color: aqua;
  color: black;
}

.nav-link:hover {
  background-color: white;
  color: skyblue;
}
.MuiListItemText-primary{
  font-size: 1.3rem !important;
}
